@import "../../styles/variables.scss";

.lease-orders-page {

  .add-button {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    background-color: var(--primary-color) !important;
    border-color: #a5a2a2;
    color: #dbe0cd;
    &:hover {
      background-color: var(--primary-color) !important;
    }
  }

  .table-container {
    margin-top: 20px;
  }

  .eye-button {
    background: none !important;
    color: $system-color; // Set color for delete button
    border: none !important;
    padding: 0 !important;
    width: 20px; // Set a fixed width
    height: 20px; // Set a fixed height
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: color 0.2s; // Add transition for smooth color change
  }

  .eye-button[data-title]::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: $system-white;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    font-size: 12px;
  }

  .eye-button[data-title]:hover::after {
    opacity: 1;
  }

  .eye-button:hover {
    color: $system-light-gray !important;
  }

  .history-button {
    background: none !important;
    color: $system-color; // Set color for delete button
    border: none !important;
    padding: 0 !important;
    width: 20px; // Set a fixed width
    height: 20px; // Set a fixed height
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: color 0.2s; // Add transition for smooth color change
    margin-left: 10px;
  }

  .history-button[data-title]::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: $system-white;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    font-size: 12px;
  }

  .history-button[data-title]:hover::after {
    opacity: 1;
  }

  .history-button:hover {
    color: $system-light-gray !important;
  }

  .title-header-name {
    width: 150px;
  }

  .date-header-name {
    width: 100px;
  }

  .description-header-name {
    width: 200px;
  }

  .batches-header-name {
    width: 200px;
  }

  .action-header-name {
    width: 50px;
  }

  .table-container {
    margin-left: 10px;
    margin-right: 10px;
    // margin-bottom: 20px; // Add margin to the bottom of the table
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; // Ensure the table layout is fixed
    margin-bottom: 30px;
  }

  th,
  td {
    border: 1px solid #ddd !important;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; // Ensure long words break to the next line
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  .product-badge {
    margin-right: 2px;
  }

  .blink-hover {
    transition: color 0.3s ease;
  }

  .blink-hover:hover {
    color: #007bff;
  }

  .pagination-container {
    position: fixed !important;
    bottom: 45px;
    left: calc(250px + 0px);
    right: 0;
    background-color: white !important;
    text-align: right;
    padding: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  .page-number {
    cursor: pointer;
    margin: 0 5px;
    color: #007bff; // Default color
  }

  .page-number.active {
    color: rgb(0, 0, 0) !important; // Current page color
    background-color: transparent !important;
  }

  .page-number.next {
    margin-left: 20px; // Add space between the last number and the Next button
  }

  .page-number.previous {
    margin-right: 20px; // Add space between the Previous button and the first number
  }
}
