$system-color: #211C6A;
$system-white: white;
$system-black: black;
$system-light-red: #e69b9b;
$system-dark-red: #df512e;
$system-dark-gray: #5a5a5a;
$system-light-gray: #b7b5b5;

$system-gradient1: $system-color;
$system-gradient2: #788efd;
