@import "../../styles/variables.scss";

.lease-order-page {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.lease-order-card {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lease-order-details {
  margin-top: 20px;
}

.detail-item {
  margin-bottom: 25px; /* Add space between parameters */
}

.detail-item strong {
  display: inline-block;
  width: 120px;
}

.lease-order-card .card-title {
  font-size: 1.5rem; /* Increase the font size */
  margin-bottom: 40px; /* Add space between title and parameters */
}

.toast-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toast-message.success {
  background-color: #28a745; // Green for success
}

.toast-message.error {
  background-color: #dc3545; // Red for errors
}